{{ with .name }}NAME="{{.}}"{{ end }}
{{ range .images }}{{ with .url }}SOURCE="{{ . }}"{{ end }}{{ end }}
{{ with .import_id }}IMPORT_ID="{{.}}"{{ end }}
ORIGIN_ID="-1"
{{ range .images }}{{ with .type }}TYPE="{{ . }}"{{ end }}{{ end }}
{{ with .publisher }}PUBLISHER="{{.}}"{{ end }}
{{ with .format }}FORMAT="{{.}}"{{ end }}
{{ with .description }}DESCRIPTION="{{. | markdownify | plainify }}"{{ end }}
{{ with .version }}VERSION="{{.}}"{{ end }}
{{ with .tags }}TAGS="{{.}}"{{ end }}
{{ with .creation_time }}REGTIME="{{.}}"{{ end }}
{{ range .images }}{{ with .size }}SIZE="{{ (div . 1048576) }}"{{ end }}{{ end }}
{{ range .images }}{{ with .checksum }}{{ with .md5 }}MD5="{{.}}"{{ end }}{{ end }}{{ end }}
{{ range .images }}APPTEMPLATE64="{{ partial "oneimage.html" . | base64Encode }}"{{ end }}
{{ with .opennebula_template }}VMTEMPLATE64="{{ partial "oneconf.html" . | base64Encode }}"{{ end }}
